@font-face {
    font-family: wayoshi;
    src: url('/YICS/assets/font/wayoshi.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

@font-face {
    font-family: mario;
    src: url('https://github.com/BlackopsKoopa/BlackopsKoopa.github.io/raw/refs/heads/main/ycss/assets/New%20Super%20Mario%20Font%20U.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

body {
	background-color: blueviolet;
	text-align: center;
	font-family: mario;
}
footer{
	color:white;
	background-color:black;
h1 {
	font-family: wayoshi;
}
footer{
	background-color: gray;
}

contain{
	background-color: black;
	text-color: white;
	border: solid;
