@font-face {
    font-family: wayoshi;
    src: url('/ycs/assets/wayoshi.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

@font-face {
    font-family: mario;
    src: url('https://github.com/BlackopsKoopa/BlackopsKoopa.github.io/raw/refs/heads/main/ycss/assets/New%20Super%20Mario%20Font%20U.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

body {
	/*checkerground/*
	background-image: url('https://github.com/BlackopsKoopa/BlackopsKoopa.github.io/blob/main/ycss/assets/tile%20bg.png?raw=true');
	text-align: center;
	font-family: mario;
}
footer{
	color:white;
	background-color:black;
h1 {
	font-family: wayoshi;
}
footer{
	background-color: gray;
}

#container{
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  margin: 70px;
}
#box{
  position: relative;
  padding: 1em;
  overflow-y: auto;
}
#maincontain{
  text-align: center;
  color: white;
  background-color: black;
  margin: 80px;
}
footer{
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

}
