
h1{
  color: white;
  font-family:'plaza-pixel-c-s3-k-title-card';
}

body{
  color: white;
  text-align:center;
  background-image:url("https://blackopskoopa.neocities.org/sonkickbg.png");
  font-family:'srb2-fill';
}
