@font-face {
    font-family: wayoshi;
    src: url('/YICS/assets/font/wayoshi.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

body {
	background-color: blueviolet;
	text-align: center;
}
footer{
	color:white;
	background-color:black;
h1 {
	font-family: wayoshi;
}
footer{
	background-color: gray;
}

contain{
	background-color: black;
	text-color: white;
	border: solid;
