body{
  color: white;
  text-align:center;
  background-image:url("https://raw.githubusercontent.com/BlackopsKoopa/BlackopsKoopa.github.io/refs/heads/main/sonkicksadventure2/Untitled354_20241116105955.png");
  font-family:SRB2;
}
