@font-face {
    font-family: wayoshi;
    src: url('https://github.com/BlackopsKoopa/BlackopsKoopa.github.io/blob/2399ad6044bac8bccdfe1efbf990b41d1673795a/YICS/assets/font/wayoshi.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

main {
	border: groove;
	background-color: blueviolet;
	text-align: center;
}
body {
	font-family: wayoshi;
}
footer{
	background-color: gray;
}
