@font-face {
    font-family: wayoshi;
    src: url('https://github.com/BlackopsKoopa/BlackopsKoopa.github.io/blob/main/YICS/assets/font/wayoshi.ttf');
	
}

main {
	border: groove;
	background-color: blueviolet;
	text-align: center;
}
body {
	font-family: wayoshi;
}
footer{
	background-color: gray;
}
