@font-face {
    font-family: wayoshi;
    src: url('/YICS/assets/font/wayoshi.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

body {
	text-align: center;
}
